*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/space-blur.png);
    background-size: cover;
    background-position: bottom;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    z-index: -1;
}

nav{

    width: 100%; /* Set the width of the navigation bar */
    height: 12%; /* Make it cover the entire height of the page */
    position: fixed;
    background: linear-gradient(to left, #922121, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Set a high z-index value to make the navbar appear above other content */
}
.logo{
    /*color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer; */

    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 0;
    margin-right: 57%;
}
span{
    color: #e9214a;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    
    
    
}
nav ul li {
    flex-direction: column; /* Arrange the items vertically */
    width: 100%; /* Set the width of list items to 100% */
    margin-right: 5%;
}

nav ul li a{
    text-align: center;
    font-size: 20px;
    color: #e8e8e8;
    text-decoration: none;
    white-space: nowrap;
}
nav ul li a:hover{
    color: #bb8f47;
    transition: .3s;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
    color: white;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 50px;
}
h4{
    color: #e9214a;
    letter-spacing: 2px;
    font-size: 25px;
}
.go-down i{
    font-size: 50px;
    display: block;
    text-align:center;
    margin-left: 83%;
    color: white;
    padding-top: 43%;
    animation: bounce 2s infinite;
    transition: transform 0.2s ease-in-out;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px); /* Adjust the bounce height as needed */
    }
    60% {
        transform: translateY(-10px); /* Adjust the bounce height as needed */
    }
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

}
.about img{
    height:auto;
    width: 430px;
    margin-right: 8%;
}
.about-text{
    width: 800px;
    margin-left: -2%;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.main img{
    border-radius: 30%;
}
.about-text h2{
    color: #bb8f47;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-top: 30px;

}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:#dc5171;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}
.SkiilProj{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: #bb8f47;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 400px;
}
.card{
    height: 400px;
    width: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
    display: block;
    text-align:center;
    margin: 25px 0px;
    color: #e9214a;
}

h5{
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}
.parag p{
    color: #f895c0;
    font-size: 16px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #191919;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
footer #data{
    width: 35px;
    height: 35px;
    color:white;
    padding-left: 55px;
    font-weight: bold;
    transform: translateY(40%)
}
footer #icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: #e9214a;
    border-radius: 50%;
    margin: 2px 30px 7px -30px 10px;
    font-size: 30px;
    text-decoration: none;
    transform: translateY(100%)
}
.Text-contact{
    background-color: #191919;
    background-position: relative;
    padding-bottom: 50px;
    height: fit-content;
}
.Text-contact h8{
    color:#bb8f47;
    font-size: 35px;
    font-weight: bold;
    margin: 0px 100px 0px 200px;
    text-align: top;
    display: flex;
}

.go-up{
    background-color: #191919;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 90%;
    padding-bottom: 20px;
}

.go-up a{
    color:white;
    background-color: #e9214a;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 13%;
    padding: 13px;
    border-radius: 60px;
    border: 2px solid transparent;
}
.go-up a:hover{
    background-color: transparent;
    border: 2px solid #e9214a;
    cursor: pointer;
    transition: .5s;
}
